
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

a {
  color: black;
}

.container-app{
  width: 1800px;
  margin: 0 auto;
}